.Recipe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    justify-content: center;
}

.recipe {
    margin-top: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 20px rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipe h1{
    font-size: px;
    padding: 1rem;
    color: rgb(133, 75, 0);
    text-align: center;
    align-items: center;
    font-family: 'Alegreya Sans', sans-serif;
}

.recipe ol{
    margin-bottom: 10px;
    padding: 0 2rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}